:host {
  display: inline-block;
  contain: content;
}

.progress {
  position: relative;
  display: block;
  // width: 100px; // will be overwritten via prop
  // height: 100px; // will be overwritten via prop
  border-radius: 50%;
  background-color: #fff;

  & > .bg {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    // width: 100px; // will be overwritten via prop
    // height: 100px; // will be overwritten via prop
    border-radius: 50%;
    display: block;
    content: ' ';
    // background-color: #36474f; // will be overwritten via prop
    z-index: 1;
  };

  & > span {
    position: absolute;
    // width: 60px; // will be overwritten via prop
    // height: 60px; // will be overwritten via prop
    left: 0;
    top: 0;
    background-color: #fff;
    border-radius: 50%;
    // margin-left: 20px; // will be overwritten via prop
    // margin-top: 20px; // will be overwritten via prop
    text-align: center;
    // line-height: 60px; // will be overwritten via prop
    // font-size: 1rem; // will be overwritten via prop
    z-index: 2;
  };

};
